<% include partials/header %>
<link rel="stylesheet" href="/search-style.css" type="text/css">

<div class="jumbotron">
  <h1><i class="fa fa-film" aria-hidden="true"></i> The Movie Gallery</h1>
</div>

<h2>Search for movies</h2>

<form action="/results" method="GET">
  <div class="input-group">
    <input type="text" placeholder="search term" name="search" class="form-control">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">Submit</button>
    </span>
  </div>  <!-- /input-group -->
</form>

<% include partials/footer %>
