<% include partials/header %>
<link rel="stylesheet" href="/search-style.css" type="text/css">

<div class="jumbotron">
  <h1><i class="fa fa-film" aria-hidden="true"></i> The Movie Gallery</h1>
  <p>Search for movies</p>
</div>

<h1>Search for movies</h1>

<form action="/results" method="GET">
  <input type="text" placeholder="search term" name="search">
  <input type="submit">
</form>

<% include partials/footer %>
