.search-again, a {
  text-align: right;
  margin-top: 20px;
  color: #333;
  font-size: 2rem;
}

.title {
  font-size: 4rem;
}

.left-subtitle * {
  float: left;
  margin: 1.66% 0;
}

.year {
  width: 5%;
}

.runtime {
  width: 8%;
}

.rated {
  width: 12%;
}

.runtime, .rated {
  text-align: center;
  border-left: 2px solid #888;
}

.genre {
  width: 40%;
  border-left: 2px solid #888;
  padding-left: 20px;
}

.fa-star {
  float: right;
  font-size: 48px;
  color: gold;
}

.rating {
  font-size: 20px;
}

.votes, .rating span {
  font-size: 14px;
}

.info {
  padding: 20px 0;
}

.movie-details {
  padding: 20px 0;
}
